set es_enableCustomData 1 
set mysql_connection_string "server=mysql-mariadb-oce02-11-101.zap-hosting.com;database=zap598344-1;userid=zap598344-1;password=9VABrsfNNqGRypNp" 
endpoint_add_tcp "139.69.174.563:30136" 
endpoint_add_udp "139.69.174.563:30136" 
sv_maxclients 30
# You probably don't want to change these!
# Only change them if you're using a server with multiple network interfaces.


# These resources will start by default.
start mapmanager
start chat
start spawnmanager
start sessionmanager
start fivem
start hardcap
start loadingscreen
start trafficadjuster
start PvP
start EasyAdmin
add_ace group.admin easyadmin allow
set ea_minIdentifierMatches 2
start mysql-async
start rconlog
start scoreboard
start vMenu
start Jailer
start lux_vehcontrol
start admincar
start riot
start polmav
start policeb
start polf430
start pol718
start hwycars
start FordExplorer
start DodgeCharger2014
start Captain14_Sheriff
start Captain14_LSPD
start bcso
start admincarr
start wk_delveh


# This allows players to use scripthook based plugins such as lambda menu.
# Set this to 0 to disallow scripthook.
sv_scriptHookAllowed 0

# Uncomment this to enable RCON. Make sure to change the password.
rcon_password 199a2b78a7

# A comma-separated list of tags for your server.
# For example:
# Or:

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
# please DO replace root-AQ on the line ABOVE with a real language! :)


# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "http://url.to/image.png"
#sets banner_connecting "http://url.to/image.png"

# Set your server's hostname
sv_hostname "roleplay by ii_inforcelaw "

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon zap96x96.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
#sv_master1 ""

# Want to only allow players authenticated with a third-party provider like Steam?
# Don't forget Social Club is a third party provider too!
#sv_authMaxVariance 1
#sv_authMinTrust 5

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit

# Hide player endpoints in external log output.
sv_endpointprivacy true

setr ea_LanguageName "en"
setr ea_MenuButton "236"
set ea_moderationNotification "https://discord.com/api/webhooks/824936908206506004/tG4sVxBkKwapenns86FJUlwk-kbcxxZzEJJ7osCbqXraW3FDrCLyAGZR3LEVwd6QcNAf"
set ea_enableCallAdminCommand "true"
set ea_enableReportCommand "true"
sets tags "roleplay"
sets gametype "AOP \| SANDY"
#This is an official FiveM server hosted by ZAP-Hosting.com. You do not need to put a license key here.
restart sessionmanager
add_ace group.admin webadmin allow
add_principal identifier.steam:11000013ea40a1d group.admin
add_principal identifier.steam:11000013739c19f group.admin
stop webadmin
set steam_webApiKey "38435410B4F548D49AFA87935514D29D"
set sv_UseDirectListing false
sets locale "root-AQ"
set sv_listingIPOverride "139.99.144.213"
